<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
         <link rel="icon" href="assets/pic.png"/>
        <link rel="stylesheet" href="./css/styles.css" />
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p id="error">{{text}}</p>
        </div>
        {{>footer}}
    </body>
</html>