<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
         <link rel="icon" href="assets/pic.png"/>
        <link rel="stylesheet" href="./css/styles.css" />
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>This site was created by chutki. It uses data from mapbox.com and dark sky API</p>
        <img class="portrait" src="./assets/weather.jpg" alt="weather" />
        </div>
        {{>footer}}
    </body>
</html>